[Game]
# Best BIOS versions are:
#   SCPH-100    Japanese
#   SCPH-101    North American
#   SCPH-1002   European
#Bios = BIOS/scph1002.bin

# SlowBoot:
#   Only works with BIOS files
#   True = Show BIOS logo
SlowBoot = True

# Up to 5 discs
#Disc = Disc 1 file
#Disc2 = Disc 2 file
#Disc3 = Disc 3 file
#Disc4 = Disc 4 file
#Disc5 = Disc 5 file

#MemCard1 = Card1.mcd
#MemCard2 = Card2.mcd

[Controls]
# Pad1/Pad2 types:
#   0 = None
#   1 = Mouse               SCPH-1030
#   2 = neGcon (Namco)      SLPH-00001 SLPH-00069
#   3 = Gun (Konami)        SLPH-00014
#   4 = Standard (digital)  SCPH-1080  SCPH-1150
#   5 = Dual Analog Joy     SCPH-1110
#   6 = Gun (Namco)         SLPH-00034
#   7 = Analog Controller   SCPH-1150
Pad1 = 4
Pad2 = 0

# CaptureMouse:
#   True = Keeps the cursor within the window
#   F2 toggles capture
CaptureMouse = False

[Video]
# Title:
#   Window title
Title = PCSX1

Width = 960
Height = 720
Fullscreen = True
Widescreen = False

# Dithering:
#   0 = Off
#   1 = Game Dependent
#   2 = Always
Dithering = 1

[Audio]
# Audio muted at startup
Mute = False

# Reverb:
#   0 = Off
#   1 = Simple
#   2 = Playstation
Reverb = 2

# Interpolation:
#   0 = None
#   1 = Simple
#   2 = Gaussian
#   3 = Cubic
Interpolation = 0

[PSX]
SioIrq = False
PsxOut = True
SpuIrq = False
RCntFix = False
VSyncWA = False
MemHack = False
HackFix = False

[Fixes]
OddEvenBitHack = False
IgnoreBrightnessColour = False
DisableCoordCheck = False

# <- maybe works for all? not just Dark Forces
RepeatedFlatTexTriangles = True

DrawQuadsWithTriangles = False
FakeGpuBusyStates = False
